.StoresNearYou_main {
  margin: 0 auto;
  max-width: 1140px;
  border: solid 2px var(--color-black);
}
.StoresNearYou_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.store_head {
  font-size: 50px;
  font-weight: 900;
}

.btn_stores {
  text-decoration-color: var(--color-brown);
  border: 2px solid var(--color-brown);
}

.btn_stores:hover {
  text-decoration-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.store_detials_full {
  width: 100%;
  padding: 2rem;
}
.store_details_inner {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
}
.store_details_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.4rem;
  background-color: var(--color-whitespmoke);
  padding: 1rem;
}

.days_data_main {
  display: flex;
  gap: 0.5rem;
}
.days_data {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.location_p_storenearyou {
  font-size: 20px;
  display: flex;
  font-weight: 300;
  align-items: center;
}

.location_and_shopdistance {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.modal_phone {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.modal_storename {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mystore_details {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}
