.WorkingSteps_main {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash_image {
  height: 100%;
  width: 100%;
}

.garage_icon_image {
  height: 90px;
  width: 90px;
}

.garageicon_heading {
  gap: 1rem;
  /* margin-top: 4.5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headinggarageh1 {
}
@media screen and (max-width: 1250px) {
  .garageicon_heading {
    padding: 0 2rem;
  }
  .garage_icon_image {
    height: 70px;
    width: 70px;
  }
  .headinggarageh1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .headinggarageh1 {
    font-size: 17px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .headinggarageh1 {
    /* font-size: 16px; */
  }
}
