.hero_img_main {
  /* height: 700px; */
  /* top: 200px; */
  /* position: relative; */
}

.light_color {
  /* position: absolute; */
  width: 100%;
  height: 650px;
  /* background-color: rgba(0, 0, 0, 0.404); */
  /* top: 0px; */
  left: 0px;
  /* height: 650px; */
}
.hero_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.head_hero {
  background: #edeade;
  color: black;
  padding: 1rem;
}

/* Modal sizing start*/

.model_sizing {
  width: 500px;
  padding: 20px;
}

.content_box_main {
  /* padding-left: 3.37rem;
  padding-right: 3.37rem;
  padding-top: 3.25rem;
  padding-bottom: 2.25rem; */
}

.faq_services_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.faq_services_inner {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.35);
  padding: 1rem;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}

.faq-question {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon_main {
  color: var(--color-brown);
  font-size: 25px;
  display: flex;
}

.icon_main {
  color: var(--color-brown);
  font-size: 25px;
  display: flex;
}
.faq-question-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.plus_minus_span {
  font-weight: 900;
  font-size: 20px;
  color: var(--color-red);
}

.react_icon_search {
  border: 1px solid;
  background: var(--color-brown);
  border-radius: 0 0.3125rem 0.3125rem 0;
  transform: translateX(-16px);
}

.btn_booknow_hero{
  background: transparent;
  border: 2px solid var(--color-white);
}
.btn_booknow_hero:hover{
  background: var(--color-brown);
  color: var(--color-white);
 }

/* Modal sizing end*/

@media screen and (max-width: 650px) {
  .model_sizing {
    width: 400px;
  }
}

@media screen and (max-width: 530px) {
  .model_sizing {
    width: 320px;
  }
}
