.imagehero_main {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_headinf_appo {
  font-size: 50px;
  padding: 2rem;
  padding-bottom: 1rem;
}

.hero_headinf_appo_storename {
  padding: 2rem;
  padding-top: 0px;
  word-spacing: 2px;
}


  /* margin: 1 auto;
  max-width: 1140px; */