.footer_main1 {
  background: var(--color-black);
  color: var(--color-white);
  padding: 2rem;
}

.footer_main {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  gap: 1rem;
}

.links_sec1,
.links_sec2,
.links_sec3 {
  display: flex;
  flex-direction: column;
}

.link_inner {
  color: var(--color-gray);
  line-height: 2.5;
  text-decoration: none;
}

.footer_box1 {
  /* width: 300px !important; */
  margin-right: 1.5rem;
}

.footer_box1,
.footer_box2,
.footer_box3,
.footer_box4 {
  width: 100%;
}

.headings {
  margin-bottom: 1rem;
}

.aboutuspara {
  /* font-size: small; */
  color: var(--color-gray);
  word-spacing: 3px;
  line-height: 1.6;
}

.rights_reserved {
  color: var(--color-gray);
}

.last_sec {
  display: flex;
  justify-content: space-between;
}
.socialicons {
  font-size: 30px;
  display: flex;
  gap: 2rem;
}
.socialicons_inner:hover {
  color: var(--color-brown);
}
@media screen and (max-width: 767px) {
  .footer_main {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 578px) {
  .last_sec {
    gap: 1rem;
    flex-direction: column;
  }
  .socialicons {
    font-size: 25px;
  }
}
