.WhyChooseUsHome_main {
  margin: 0 auto;
  max-width: 1140px;
  padding: 5rem 0px;
}
.heading_sec_WhyChooseUsHome_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.box_content_sec_main_whychoose {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
  padding: 1rem;
}
.whychooseustitle {
  font-weight: 900;
  font-size: 35px;
}

.box_content_sec1,
.box_content_sec3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.box_content_whychoose {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title_whychoose,
.title_whychoose2 {
  font-weight: 900;
  font-size: 24px;
}
.title_whychoose2 {
  text-align: right;
}
.box_para,
.box_para2 {
  font-size: small;
  color: var(--color-gray);
  text-align: left;
  word-spacing: 3px;
  line-height: 1.6;
}
.box_para2 {
  text-align: right;
}

.standingman_div_image {
  background-color: var(--color-brown);
  height: 500px;
}

@media screen and (max-width: 768px) {
  .box_content_sec_main_whychoose {
    flex-direction: column;
  }

  .box_content_sec3 {
    transform: translateY(100px);
    margin-top:1rem;
    margin-bottom:4rem;
  }
}
