.AppointmentForm_main {
  margin: 0 auto;
  max-width: 1140px;
  padding: 2rem 0;
  display: flex;
  gap: 6rem;
}

.appoin_steps_main {
  width: 800px;
  display: flex;
  gap: 3rem;
}

.numbers_steps {
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 28px;
  padding: 8px;
  background: black;
  color: white;
}

.steps_main {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.formdata1_main {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.time_main_app {
  display: flex;
  padding: 0.8rem 2rem;
  justify-content: center;
  width: 250px;
  border: solid 1px var(--color-black);
}

.preferedtime_main_app {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.vehicle_drop_main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.label {
  display: flex;
  gap: 0.5rem;
}

.radio {
  /* font-size: 20px; */
}

.radio_main {
  display: flex;
  gap: 1rem;
}

.react-calendar-datetime-picker .input-picker .input-picker--input {
  width: 260px !important;
  font-size: 24px;
  padding: 1.1rem 0.8rem !important;
}

.preferred_date {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.checkbox_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox_label_appointment {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
}

.services_needed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.input_field_appointment {
  width: 90%;
  padding: 1rem;
  border: none;
  font-size: 15px;
  /* color: var(--color-white); */
  border: solid 1px black;
  background: var(--color-lightgray);
}

.btn_continue_appointment {
  border: 2px solid var(--color-brown);
}
.btn_continue_appointment:hover {
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

.input_field_appointment {
  padding: 0.6rem;
  /* border: 2px solid var(--color-black); */
  font-size: 15px;
  background: var(--color-white);
  width: 300px;
}

.formdata2_main {
  display: flex;
  gap: 4rem;
}

.contactinfo_appointment {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contactinfo_appointment_inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textbox_with_condetails,.dropdown_with_vehiceinfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contactmode {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown_appointment {
  width: 210px;
  display: flex;
  padding: 0.5rem;
  /* border: solid 2px; */
}

.VehicleInformation_app_main {
  display: flex;
  gap: 1.1rem;
  flex-direction: column;
  margin-top: 2.1rem;
}

.dropdown_main_appointment {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.storenameLocation_sec3_appo,
.dayandtime_sec3_appo {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.appo_summary_inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 1.6;
}

.summary_details_app {
  display: flex;
  gap: 6rem;
}

.appo_ServiceNeeded_locationsec {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  line-height: 1.6;
}

.formdata3_main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.sidebar_contact_details_app {
  background-color: var(--color-black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.phcall_app_sec {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
