@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Pacifico&family=Reem+Kufi:wght@400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap'); */

:root {
  --font-base: "Lato", sans-serif;
  /* --font-base: "Comfortaa", sans-serif; */
  /* --font-alt: "Roboto", sans-serif; */
  --color-white: #ffffff;
  --color-gray: #808080;
  --color-lightgray: lightgray;
  --color-whitespmoke: #F5F5F5	;
  --color-darkgray: #A9A9A9	;
  --color-brown: brown;
    --color-black: #0d0202;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
  /* font-family: "Lato", sans-serif !important; */
  initial-scale: 1 !important;
  /* user-select: none; */
}

.button{
  padding: 1rem; 
  cursor: pointer;
  color: var(--color-white);
  font-weight: 900;
  background-color: var(--color-brown);
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  word-spacing: 2px;
}


.button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all 0.4s ease-in-out;
}