.VehicleInspection_main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 6rem;
  gap: 3rem;
}

.VehicleInspection_image {
  border-radius: 7px;
  /* height: 320px;
  width: 450px; */
  height: 100%;
  width: 100%;
}

.VehicleInspection_main_inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
